@import "../../index.css";

.title {
  font-size: 2rem;
  margin: 0.2rem auto;
}

.subtitle {
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1rem;
  background: var(--aqua);
}

@media (min-width: 640px) {
  .title {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .title {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .title {
    max-width: 1024px;
  }
}
