@import '../../index.css';

.containerControl {
  position: fixed;
  top: 5rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.iconButton {
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: #504945;
  color: #d5c4a1;
}

.dark:hover {
  background-color: #665c54;
}

.light {
  background-color: #d5c4a1;
  color: #665c54;
}

.light:hover {
  background-color: #bdae93;
}
